<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
    <th mat-header-cell *matHeaderCellDef>
      {{
        col == "motorType"
          ? "Motor Type"
          : col == "fullName"
          ? "Full Name"
          : (col | titlecase)
      }}
    </th>
    <td mat-cell *matCellDef="let element">
      {{
        col == "location"
          ? element.location.country
          : col == "color"
          ? ""
          : col == "birthday"
          ? (element[col] | date: "mediumDate")
          : col == "hobbies"
          ? element.hobbies.length + " Hobbies"
          : element[col]
      }}
      <div
        class="color"
        *ngIf="col == 'color'"
        [ngStyle]="{ 'background-color': element.color }"
      >
        .
      </div>
      <mat-icon
        matTooltipClass="tooltip"
        [matTooltip]="element.locationString"
        class="info"
        *ngIf="col == 'location'"
        >info</mat-icon
      >
      <mat-icon
        matTooltipClass="tooltip"
        [matTooltip]="element.hobbiesString"
        class="info"
        *ngIf="col == 'hobbies'"
        >info</mat-icon
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
