<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
    <th mat-header-cell *matHeaderCellDef>
      {{
        col == "motorType"
          ? "Motor Type"
          : col == "fullName"
          ? "Full Name"
          : (col | titlecase)
      }}
    </th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngStyle]="{ 'background-color': col == 'color' ? element.color : '' }"
    >
      {{
        col == "location"
          ? element.locationString
          : col == "color"
          ? ""
          : col == "birthday"
          ? (element[col] | date: "mediumDate")
          : col == "hobbies"
          ? (element.hobbiesString | titlecase)
          : element[col]
      }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
