.table-row {
    width: 100%;
    display: flex;

    .name-side {
        width: 150px;
        font-size: 1rem;
        padding-bottom: 19px;
        height: 27px;
        text-align: end;
        margin-right: 25px;
        line-height: 2;
    }

    .rating-side {
        display: flex;
        width: 100%;
        font-size: 1rem;
        justify-content: flex-start;
    }

    .rate {
        background-color: #c7ebff;
        height: 80%;
        border-radius: 5px;
    }

    .number {
        margin-left: 10px;
        line-height: 2;
        font-weight: 600;
        color: #42bafc;
    }
}
