<div class="wrapper">
  <mat-card class="selector">
    <div (click)="view = 'table'" [ngClass]="{ selected: view == 'table' }">
      All Visits
    </div>
    <div
      (click)="view = 'insights'"
      [ngClass]="{ selected: view == 'insights' }"
    >
      Insights
    </div>
  </mat-card>

  <ng-container *ngIf="view == 'table'; else Insights">
    <app-table></app-table>
  </ng-container>

  <ng-template #Insights>
    <forms-completed></forms-completed>
    <mat-card> </mat-card>
  </ng-template>
</div>
