.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    color: white;
    font-weight: 600;

    .name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    img {
        margin: 0 16px;
    }

    .pointer {
        cursor: pointer;
    }
}

.menu-option {
    padding: 0 8px;
    color: #1925d2;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .toolbar {
        padding: 0;
        .name {
            align-self: center;
            font-size: medium;
        }

        img {
            margin: 0 8px;
        }
    }
}
